<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoUpdaterDotNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutoUpdaterDotNET.Properties.Settings>
            <setting name="ConfigFile" serializeAs="String">
                <value>AutoUpdate.json</value>
            </setting>
            <setting name="UpdateUnavailableMessage" serializeAs="String">
                <value>There is no update available. Please try again later.</value>
            </setting>
            <setting name="UpdateUnavailableCaption" serializeAs="String">
                <value>Update Unavailable</value>
            </setting>
            <setting name="UpdateCheckFailedMessage" serializeAs="String">
                <value>There is a problem reaching update server. Please check your internet connection and try again later.</value>
            </setting>
            <setting name="UpdateCheckFailedCaption" serializeAs="String">
                <value>Update Check Failed</value>
            </setting>
            <setting name="DownloadSpeedMessage" serializeAs="String">
                <value>Downloading at {0}/s</value>
            </setting>
            <setting name="FileIntegrityCheckFailedMessage" serializeAs="String">
                <value>File integrity check failed and reported some errors.</value>
            </setting>
            <setting name="FileIntegrityCheckFailedCaption" serializeAs="String">
                <value>Checksum differs</value>
            </setting>
            <setting name="HashAlgorithmNotSupportedCaption" serializeAs="String">
                <value>Unsupported Hash Algorithm</value>
            </setting>
            <setting name="HashAlgorithmNotSupportedMessage" serializeAs="String">
                <value>Hash algorithm provided in the XML file is not supported.</value>
            </setting>
            <setting name="UnableToDetermineFilenameMessage" serializeAs="String">
                <value>Unable to determine the filename of the update file!</value>
            </setting>
        </AutoUpdaterDotNET.Properties.Settings>
    </applicationSettings>
</configuration>